.search-input {
  appearance: none;
  width: 60%;
  min-height: 1.5em;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 1px solid #800020;
  border-radius: 0.2em;
}
.search-input:focus,
.search-input:active {
  outline: none;
  border-color: #630330;
  border-width: 1px;
}

.search-button {
  border-radius: 0.4em;
  border: none;
  padding: 0.5em 2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #800020;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
.search-button:hover {
  background-color: #630330;
}
.search-button:focus,
.search-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
